$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

html body {
  background-color: #ccc;
}

.navbar-custom {
  border-bottom: 5px solid #000066 !important;
  height: 65px;

  .navbar-brand {
    opacity: 1 !important;
  }

  li a {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 30px !important;
    color: rgb(67, 74, 84) !important;

    &:hover,
    &:active {
      color: #000066 !important;
      border-bottom: none !important;
    }

    &.active {
      color: #000066 !important;
    }
  }

  .navbar-collapse {
    border: none;

    ul {


      li {
        background-color: #434a54;

        a {
          color: #bac3cf !important;
          font-size: 1.8em;
          font-weight: normal;

          &:hover {
            background-color: #707b8c;
          }
        }
      }

    }
  }
}

.spacer {
  margin-top: 20px; /* define margin as you see fit */
}

.main-content {
  margin: 20px 0;
  padding: 30px;
  background-color: #fff;

  /* Misc Styles */
  button.btn,
  a.btn,
  input[type=submit] {
    font-size: 1.5em;
    margin: 0 auto;
    padding: 7px 10px;
  }

  .badge {
    background-color: transparent;
    font-size: 1.2em;
  }

  check-me {
    cursor: pointer;

    .glyphicon-ok {
      color: green;
    }

    .glyphicon-remove {
      color: red;
    }
  }

  .how-it-works {
    a.button {
      text-align: center;
      width: 200px;
      padding: 7px 10px;
    }
  }

  .nobot-index {

    .glyphicon-play-circle,
    .glyphicon-trash {
      padding: 3px;
      cursor: pointer;
      font-size: 1.8em;
    }

    tr.active {
      .glyphicon-play-circle {
        color: #8cc152;
      }
    }
  }
}

/* Banner */
.banner {
  // position: relative;
  padding: 75px 10px 0 10px;
  text-align: center;
  background-color: #FFCC00;

  h2 {
    color: #000066;
    padding: 0px 10px;
  }

  .slogan-text {
    display: none;
  }
}

/* Device specific queries */

// Iphone
@media (max-width: 768px) {
  .container-fluid {
    padding: 0px !important;
    margin: 0px !important;
  }

  .navbar-custom {
    margin-bottom: 0px !important;
  }

  .banner {

    padding: 20px 0 0 0;

    .nobot {
      width: 350px;
      margin-bottom: 10px;
    }

    .slogan {
      display: none;
    }

    .slogan-text {
      display: block;
    }
  }

  .main-content {
    margin: 0 0;
    padding: 20px;
    background-color: #fff;

    /* Misc Styles */
    button.btn,
    a.btn,
    input[type=submit] {
      font-size: 1.2em;
      margin: 0 auto;
      padding: 3px 6px;
    }

    .nobot-preview {
      padding-top: 20px;
    }

  }
}

// Tablet
@media (min-width: 768px) and (max-width: 992px) {
  .banner {

    .nobot, .slogan {
      width: 750px;
    }
  }
}
