<div class="row banner">
  <h2>Personalize your "human" validation with NoBots</h2>
  <p class="lead">Make it fun, serious, or challenging. Make it your own!</p>
</div>

<div class="container main-content">
  <div class="row">
    <div class="col-md-7">
      <h2>Build a NoBot!</h2>
      <div class="row">
        <div class="col-md-12" nobot-form args="formArgs"></div>
      </div>
    </div>
    <div class="col-md-5 text-center nobot-preview spacer">
      <nobot args='buildNobot'></nobot>
    </div>
  </div>

  <div class="row spacer demo-button">
    <div class="col-md-12 text-center">
      <p class="lead">Nobots is the hottest crowd-sourced anti-bot social-action community of the week!</p>
      <a class="btn btn-success btn-block" href="/#nobots">View Library</a>
    </div>
  </div>
</div>
